[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group GambarGrafis
	owner = group user/Paweł Warzecha (ProrokWielki)
[access "refs/for/refs/*"]
	read = group GambarGrafis
	read = group user/Paweł Warzecha (ProrokWielki)
	push = group GambarGrafis
	push = group user/Paweł Warzecha (ProrokWielki)
	label-Code-Review = -2..+2 group GambarGrafis
	label-Code-Review = -2..+2 group user/Paweł Warzecha (ProrokWielki)
	label-Verified = -1..+1 group GambarGrafis
	label-Verified = -1..+1 group user/Paweł Warzecha (ProrokWielki)
	rebase = group GambarGrafis
	rebase = group user/Paweł Warzecha (ProrokWielki)
	removeReviewer = group GambarGrafis
	removeReviewer = group user/Paweł Warzecha (ProrokWielki)
	submit = group GambarGrafis
	submit = group user/Paweł Warzecha (ProrokWielki)
[access "refs/heads/*"]
	read = group GambarGrafis
	read = group user/Paweł Warzecha (ProrokWielki)
	create = group GambarGrafis
	create = group user/Paweł Warzecha (ProrokWielki)
	push = group GambarGrafis
	push = +force group user/Paweł Warzecha (ProrokWielki)
	pushMerge = group GambarGrafis
	pushMerge = group user/Paweł Warzecha (ProrokWielki)
[access "refs/tags/*"]
	push = group GambarGrafis
	push = group user/Paweł Warzecha (ProrokWielki)
	push = +force group user/Paweł Warzecha (ProrokWielki)
